<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gerencial.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <Gerencial.My.MySettings>
      <setting name="Usuario" serializeAs="String">
        <value>MICROLED</value>
      </setting>
      <setting name="Banco" serializeAs="String">
        <value>NVOCC</value>
      </setting>
      <setting name="Banco1" serializeAs="String">
        <value>MSSQL</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>FCA@2020*</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>200.178.24.251,6363</value>
      </setting>
    </Gerencial.My.MySettings>
  </userSettings>
	<connectionStrings>
		<add name="NVOCC" connectionString="Data Source=200.178.24.251,6363;Initial Catalog=NVOCC;User ID=MICROLED;Password=FCA@2020*;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
