<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gerencial.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <userSettings>
    <Gerencial.My.MySettings>
      <setting name="Usuario" serializeAs="String">
        <value>MICROLED</value>
      </setting>
      <setting name="Banco_NVOCC" serializeAs="String">
        <value>NVOCCTST</value>
      </setting>    
      <setting name="Banco" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="DTE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>FCA@2020*</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>200.178.24.251,6464</value>
      </setting>
    </Gerencial.My.MySettings>
  </userSettings>

</configuration>
