<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gerencial.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <userSettings>
    <Gerencial.My.MySettings>
      <setting name="Usuario" serializeAs="String">
        <value>SGIPA</value>
      </setting>
      <setting name="Banco_SGIPA" serializeAs="String">
        <value>SGIPA.DBO.</value>
      </setting>
      <setting name="Banco_OPERADOR" serializeAs="String">
        <value>OPERADOR.DBO.</value>
      </setting>
      <setting name="Banco_FATURA" serializeAs="String">
        <value>FATURA.DBO.</value>
      </setting>
      <setting name="Banco_SAPIENS" serializeAs="String">
        <value>COSAPIENS.DBO.</value>
      </setting>
      <setting name="Banco" serializeAs="String">
        <value>MSSQL</value>
      </setting>
      <setting name="DTE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>SGIPA#ZLOG</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>192.168.0.8</value>
      </setting>
    </Gerencial.My.MySettings>
  </userSettings>

</configuration>
