<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="srvRetornoNF.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- TESTE  -->
    <add name="NVOCC" connectionString="Data Source=172.17.40.20\FCA;Connection Timeout=240;Initial Catalog=NVOCCHOM;User ID=NVOCC;Password=FCA@2020*;" providerName="System.Data.SqlClient" />
    <add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=177.11.210.55)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=TCHRONOS)));User Id=SGIPA;Password=teste;" providerName="Oracle.ManagedDataAccess.Client" /> 
    <!-- PRODUÇÃO 
<add name="NVOCC" connectionString="Data Source=172.17.30.197\FCA;Connection Timeout=240;Initial Catalog=NVOCC;User ID=NVOCC;Password=FCA@2020*;" providerName="System.Data.SqlClient" />
<add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=177.11.210.55)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=CHRONOS)));User Id=SGIPA;Password=EUDMARCO;" providerName="Oracle.ManagedDataAccess.Client"/>
-->
  </connectionStrings>
  <appSettings>
    <add key="Minutos" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- Esta seção define a configuração de log para My.Application.Log-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Descomente a seção abaixo para escrever um Evento de Log da Aplicação -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Descomente a seção abaixo e substitua APPLICATION_NAME pelo nome do seu aplicativo para escrever no Log de Eventos do Aplicativo -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <srvRetornoNF.My.MySettings>
      <setting name="srvRetornoNF_WsNVOCC_WsNvocc" serializeAs="String">
       <value>https://localhost:44317/WsNvocc.asmx</value>
      </setting>
    </srvRetornoNF.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>