<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="wsNvocc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <connectionStrings>
    <add name="NVOCC" connectionString="Data Source=200.178.24.251,6363;Initial Catalog=NVOCC;User ID=MICROLED;Password=FCA@2020*;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <wsNvocc.My.MySettings>
      <setting name="BANCO" serializeAs="String">
        <value>MSSQL</value>
      </setting>
      <setting name="SERVIDOR" serializeAs="String">
        <value>200.178.24.251,6363</value>
      </setting>
      <setting name="SCHEMA" serializeAs="String">
        <value>NVOCC</value>
      </setting>
      <setting name="USUARIO" serializeAs="String">
        <value>MICROLED</value>
      </setting>
      <setting name="SENHA" serializeAs="String">
        <value>FCA@2020*</value>
      </setting>
    </wsNvocc.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceGinfesImplBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://producao.ginfes.com.br//ServiceGinfesImpl"
        binding="basicHttpBinding" bindingConfiguration="ServiceGinfesImplBinding"
        contract="NFsE_Santos.ServiceGinfesImpl" name="ServiceGinfesImplPort" />
    </client>
  </system.serviceModel>
</configuration>